@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #782075;
  --black:#000;
  --text-color:#333;

  // layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

button,input,[tabindex]{
  outline: none;
  border: none;
}

a[href]{
  color: var(--text-color);
  text-decoration: none;
}
html {}